/*
 * Copyright OpenSearch Contributors
 * SPDX-License-Identifier: Apache-2.0
 */
grant codeBase "file:${codebase}/csvjdbc-*.jar" {
    permission java.io.FilePermission "/Users/diyam/Downloads/files", "read";
    permission java.io.FilePermission "/Users/diyam/Downloads/files/-", "read";
};
grant {
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.io.FilePermission "/Users/diyam/Downloads/files", "read";
    permission java.io.FilePermission "/Users/diyam/Downloads/files/-", "read";
    permission java.util.PropertyPermission "*", "read,write";
};
